@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.btn{
    padding: 20px 43px;
    background-color: #E55473;
    color: white;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
}

header {
    background-color: rgba(229, 84, 115, 0.1);
}

.banner-container {
    max-width: 1440px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-container .banner-content {
    max-width: 708px;
}

.banner-content h2 {
    font-weight: 900;
    font-size: clamp(2.2rem, 6vw, 4.8rem);
    color: #272727;
    margin-bottom: 32px;
}.banner-content p{
    font-size: clamp(1rem, 2.5vw, 1.125rem);
    line-height: 1.7;
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.6);
}
.banner-img img {
    width: 100%;
}


@media screen and (max-width:576px) {
    .banner-container{
        flex-direction: column;
        padding: 24px;
        text-align: center;
    }
}

@media screen and (min-width:577px) and (max-width:992px){
    .banner-container{
        flex-direction: column;
    }
}